<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <h1>EAT DA BURGER</h1>
        </div>
        <div class="col-xs-6">
            <div class="row">
                {{#each burger_data}}
                    {{#unless this.devoured}}
                    <div class="col-xs-6">
                        <pre>
                            {{this.id}}. {{this.burger_name}}
                        </pre>
                    </div>
                <div class="col-xs-6">
                    <form method = "POST" action="/burgers/update?_method=PUT" class="subButton">
                    <input type="hidden" name="burger_id" type="text" value={{this.id}}>
                    <br>
                    <button type="submit" class="btn btn-primary">DEVOUR IT!</button>
                    </form>
                </div>
                {{/unless}}
                {{/each}}
             </div>  
        </div>
    </div class ="form-control" type="text" placeholder = "{{this.id}}. {{this.burger_name}}">
    {{#each burger_data}}
        {{#if this.devoured}}
        <input type="text" class="subForm" placeholder = "{{this.id}}. {{this.burger_name}}">
    {{/if}}
    {{/each}}
    </div>
    </div>
    </div>

    <div class="containerBtm">
          <form action="/burgers/create" method="POST" class="subButton">
                    <input type="text" name="burger_name" value="" id="enter_text">
                    <button type="submit" class="btn btn-primary" id="submisssion">SUBMIT</button>
                    </form>
                    <P>Enter the name of a burger you want to eat</P>
    </div>
    </div>

</div>